<header class="main-header">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container">
            <div class="navbar-brand">
                <a class="nav-link active" href="#">Delight Shop</a>
            </div>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#main-menu" aria-controls="main-menu" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>          
            <div class="collapse navbar-collapse" id="main-menu">
                <ul class="nav navbar-nav">
                    <li class="nav-item"><a class="nav-link" href="#">Recipes</a></li>
                    <li class="nav-item"><a class="nav-link" href="#">Shopping List</a></li>
                </ul>
                <ul class="nav navbar-nav ms-auto">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="manageDropdown" data-bs-toggle="dropdown" aria-expanded="false" role="button">Manage</a>
                        <ul class="dropdown-menu" aria-labelledby="manageDropdown">
                            <li class="dropdown-item"><a href="#">Save Data</a></li>
                            <li class="dropdown-item"><a href="#">Fetch</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    
</header>