<div class="recipe-editing">
    <form [formGroup]="recipeForm" (ngSubmit)="onSubmit()">
        <div class="form-actions row py-3">
            <div class="col-md-10">
                <input  [disabled]="!recipeForm.valid" type="submit" class="btn btn-success me-2" value="Save">
                <input type="button" class="btn btn-danger" value="Cancel">
            </div>
        </div>

        <div class="row">
            <div class="col-md-10">
                <div class="form-group mb-1">
                    <img src="" alt="recipe Image"><br>
                    <label for="imagePath">Image URL: </label>
                    <input class="form-control" type="text" formControlName="recipeImagePath" id="imagePath">
                </div>
                <div class="form-group mb-1">
                    <label for="recipeName">Name: </label>
                    <input class="form-control" type="text" formControlName="recipeName"  id="recipeName">
                </div>
                <div class="form-group mb-3">
                    <label for="recipeDesc">Description: </label>
                    <textarea class="form-control" formControlName="recipeDesc"  id="recipeDesc"></textarea>
                </div>
                <div class="form-group" class="mb-1"
                    *ngFor="let ingredientControl of ingredientsControl; let iControl = index"
                    formArrayName ="recipeIngredients">
                    <div class="row" [formGroupName]="iControl">
                        <div class="col-md-6">
                            <label for="recipeIngredientName">Name: </label>
                            <input type="text" class="form-control" id="recipeIngredientName" formControlName="ingName">
                        </div>
                        <div class="col-md-4">
                            <label for="recipeIngredientAmount">Amount: </label>
                            <input type="text" class="form-control" id="recipeIngredientAmount" formControlName="ingAmount">
                        </div>
                        <div class="col-md-2">
                            <input type="button" value="Delete" class="btn btn-danger">
                        </div>
                    </div>
                </div>

                <div class="add-ingredients row py-3">
                    <hr>
                    <div class="col-md-10">
                        <input type="button" class="btn btn-primary me-2" (click)="onAddIngredient()" value="Add Ingredient">
                    </div>
                </div>
            </div>
        </div>
        
    </form>
</div>