<div class="recipe-detail-pane">
    <div class="recipe-item-detail">
        <img src="" alt="Recipe Image">
        <h2 class="recipe-detail-name">Recipe Name</h2>
    </div>
    <div class="recipe-item-actions">
        <div class="btn-group">
            <button type="button" class="btn btn-primary dropdown-toggle">Manage Recipe <span class="caret"></span></button>
            <ul class="dropdown-menu">
                <li class="dropdown-item"><a href="#">To Shopping List</a></li>
                <li class="dropdown-item"><a href="#">Edit Recipe</a></li>
                <li class="dropdown-item"><a href="#">Delete Recipe</a></li>
            </ul>
        </div>
    </div>
    <div class="recipe-item-other-details">
        <p>Description</p>
        <hr>
        <h4>Ingredients: </h4>
        <ul class="ingredients list-group">
            <li class="list-group-item">Toyo</li>
            <li class="list-group-item">Suka</li>
            <li class="list-group-item">Patis</li>
            <li class="list-group-item">kamatis</li>
        </ul>
    </div>
</div>