<div class="recipe-detail-pane">
    <div class="recipe-item-detail">
        <img [src]="recipeDetail.imagePath" [alt]="recipeDetail.name">
        <h2 class="recipe-detail-name">{{ recipeDetail.name }}</h2>
    </div>
    <div class="recipe-item-actions">
        <div class="dropdown">
            <button type="button" appDropdown class="btn btn-primary dropdown-toggle">Manage Recipe <span class="caret"></span></button>
            <ul class="dropdown-menu">
                <li class="dropdown-item"><a class="nav-link" (click)="addtoIngredient(recipeDetail.ingredients)">To Shopping List</a></li>
                <li class="dropdown-item"><a class="nav-link" (click)="onEditRecipe()">Edit Recipe</a></li>
                <li class="dropdown-item"><a class="nav-link" (click)="onDeleteRecipe()">Delete Recipe</a></li>
            </ul>
        </div>

    </div>
    <div class="recipe-item-other-details">
        <p>{{ recipeDetail.description }}</p>
        <hr>
        <h4>Ingredients: </h4>
        <ul class="ingredients list-group" *ngFor="let ingredient of recipeDetail.ingredients">
            <li class="list-group-item">{{ ingredient.name }} - ({{ ingredient.amount }} Php)</li>
        </ul>
    </div>
</div>