<div class="recipe-section py-2">
    <div class="container">
        <div class="row">
            <div class="col-md-5">
                <app-recipe-list 
                    (slctRecipeItem) = "slctRecipe = $event">
                </app-recipe-list>
            </div>
            <div class="col-md-7">
                <app-recipe-detail *ngIf="slctRecipe; else noSelectedRecipe" [recipeDetail]="slctRecipe"></app-recipe-detail>
                <ng-template #noSelectedRecipe>
                    <p>Please select Recipe</p>
                </ng-template>
            </div>
        </div>
    </div>
</div>
