/* You can add global styles to this file, and also import other style files */
.nav-item a.active {
    color: cornflowerblue !important;
}
a{
    cursor: pointer;
}

form.ng-touched textarea.ng-invalid,
form.ng-touched input.ng-invalid{
    border: 1px solid red;
}