<div class="shopping-actions">
    <form>
        <div class="row">
            <div class="col-sm-5 form-group">
                <label for="name" class="field-name">Name</label>
                <input type="text" name="name" id="name" class="form-control" [value]="slctItemName" #nameInput>
            </div>
            <div class="col-sm-2 form-group">
                <label for="name" class="field-name">Amount</label>
                <input type="text" name="name" id="name" class="form-control"  [value]="slctItemAmount" #amountInput>
            </div>
        </div>
        <div class="btn-actions py-2">
            <button class="btn btn-success" type="button" (click)="onAddItem()">Add</button>
            <button class="btn btn-danger mx-2" type="button" (click)="onDelItem()">Delete</button>
            <button class="btn btn-primary" type="button" (click)="onClearItem()">Clear</button>
        </div>
    </form>
</div>